.sidevar-button{
   -fx-background-color :#0a1432;
   -fx-text-fill : #ffffff;
}
.sidevar-button:hover{
   -fx-background-color :#333d5a;
}
.sidevar-button:pressed{
   -fx-background-color :#273c7b;
   -fx-text-fill : #36bfff;
}
.sidevar-buuton-selected{
   -fx-background-color :#273c7b;
   -fx-text-fill : #36bfff;
}

/*para los botones de las fases*/

.boton-faseTramite{
       -fx-background-color :#f0f2f5;
       -fx-text-fill : #000;
}
.boton-faseTramite:hover{
   -fx-background-color :#97a9dd;
}
.boton-faseTramite:pressed{
   -fx-background-color :#33476b;
   -fx-text-fill : #000000;
}
.boton-faseTramite-selected{
   -fx-background-color :#5b7c9f;
   -fx-text-fill : #000000;
}
.boton-copiar-pathfile{
   -fx-background-color :#000;
   -fx-text-fill : #fff;
}

.boton-copiar-pathfile:hover{
   -fx-background-color :#9fa2ab;
}

.boton-copiar-pathfile:pressed{
   -fx-background-color :#beccf5;
   -fx-text-fill : #dadada;
}


.boton-dashboard{
   -fx-font-size:18;
   -fx-font-weight:800;

}

.boton-dashboard-tramites{
   -fx-background-color: #ffe5c7;
   -fx-text-fill:#e5730e;
}
.boton-dashboard-deleteFile{
   -fx-background-color: #fbc1b0;
   -fx-text-fill:#fe5729;
}
.boton-dashboard-datos{
   -fx-background-color:  #90fbc3;
   -fx-text-fill:#008651;
}


.boton-dashboard:hover{
   -fx-font-size:23;
   -fx-text-fill : #ffffff;
   -fx-border-width:3;
   -fx-border-color:#d0d0d0;
}

.boton-dashboard:pressed{
   -fx-background-color :#9b9b9b98;
   -fx-text-fill : #ffffff;
}
